/* Layout */

* {
  position: relative;
  box-sizing: border-box;
}

*::selection {
  background: inherit;
  color: inherit;
}

body {
  font-family: Rubik, 'sans-serif';
  cursor: default;
}

h1 {
  text-align: center;
  font-weight: 300;
  font-size: 40px;
  color: #506773;
}

h2 {
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 2px;
  color: #6B8A99;
  text-align: center;
}

h3 {
  font-size: 20px;
  font-weight: 300;
  margin: -30px 0 40px;
  color: #bbb;
  text-align: center;
}

#layout {
  display: flex;
  justify-content: center;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#content {
  width: 100%;
  max-width: 840px;
  padding: 0 20px;
}

/* Gallery */

#gallery .tiles {
  display: flex;
  justify-content: space-between;
}

#gallery .tile {
  width: 30%;
  height: 200px;
}

#gallery .tile .image {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: no-repeat center center;
  background-size: cover;
  transition: opacity 0.5s;
}

#gallery .tile .image.hidden {
  z-index: 2;
  opacity: 0;
}

#gallery .swiper-container {
  display: none;
  width: 100%;
  height: 400px;
}

#gallery .swiper-container .image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: no-repeat center center;
  background-size: cover;
  transition: opacity 0.5s;
}

#gallery .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: .6;
}

#gallery .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

.is-mobile #gallery .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
}

@media screen and (max-width: 1300px) {
  #gallery .swiper-container {
    display: block;
  }

  #gallery .tiles {
    display: none;
  }
}

.is-mobile #gallery .swiper-container {
  display: block;
}

.is-mobile #gallery .tiles {
  display: none;
}

/* Video Gallery */

#videoGallery {
  display: flex;
  justify-content: space-between;
}

#videoGallery .video {
  width: 48%;
  height: 200px;
}

#videoGallery .video {
  max-width: 100%;
}

@media screen and (max-width: 700px) {
  #videoGallery {
    flex-wrap: wrap;
  }

  #videoGallery .video {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* Call link */

#call {
  margin: 40px 0;
  text-align: center;
}

#call a {
  display: inline-block;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 4px;
  border-bottom: 1px dashed transparent;
  color: #506773;
  text-decoration: none;
}

#call a:hover {
  border-color: transparent;
}

#call a:before {
  position: absolute;
  display: block;
  content: '';
  width: 30px;
  height: 35px;
  left: -35px;
  background: url('../images/phone.png') no-repeat left center transparent;
  background-size: contain;
}

.is-mobile #call a {
  font-size: 20px;
  border-color: #506773;
}

.is-mobile #call a:before {
  width: 25px;
  height: 20px;
  top: 3px;
}

/* About TFP */

#aboutTfp {
  margin-bottom: 40px;
}

#aboutTfp .caption-container {
  text-align: center;
}

#aboutTfp .caption-container a {
  font-size: 25px;
  font-weight: 300;
  color: #506773;
  cursor: pointer;
  border-bottom: 1px dashed #506773;
}

#aboutTfp .caption-container a:hover {
  border-color: transparent;
}

#aboutTfp .info {
  display: none;
  width: 600px;
  margin: 20px auto 0;
  color: #32444D;
  text-align: justify;
}

.is-mobile #aboutTfp .info {
  width: 100%;
}

#aboutTfp .info a[href] {
  color: #087299;
}

#aboutTfp .info a[href]:hover {
  text-decoration: none;
}

#aboutTfp .info p + p {
  margin-top: 25px;
}

#aboutTfp.open .info {
  display: block;
}
